/* Global */

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

html a {
    text-decoration: none;
}

:root {
    --color-primary: #f1cdb3;
    --color-primary-dark: #cdcdcd;
    --color-second: #fff;
    --color-dark: #292929;
    --color-dark-second: #545454;
    --color-dark-third: #4c4c4c;
    --color-dark-fourth: #b2b2b2;
    --color-light: #f6f6f6;
    --color-light-second: #fafafa;
}

body.no_scroll {
    overflow: hidden;
}

h1 {
    font-family: Georgia;
    color: var(--color-primary);
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

h1 a {
    color: var(--color-dark-second);
}

h3 {
    font-family: Georgia;
    color: var(--color-dark-second);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-dark-second);
    letter-spacing: 0.06em;
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    line-height: 110%;
    color: var(--color-dark-second);
    letter-spacing: 0.06em;
}

.container {
    display: flex;
    flex-direction: column;
}

section, footer {
    max-width: 1280px;
    margin: 0 auto;
}

#header_wrapper {
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: "Georgia";
    src: local("Georgia"),
        url("../../assets/fonts/georgia/georgia.woff") format("woff");
  }

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/arial-regular.ttf") format("ttf");
}

@media (max-width: 349px) {
    h3 {
        font-size: 25px;
    }
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
}

#logo {
    display: flex;
    flex-direction: column;
}

#logo p {
    margin:0;
}

#logo_phrase {
    font-family: Arial;
    color: var(--color-dark);
    font-size: 13px;
    letter-spacing: 0.1em;
    padding-left: 4px;
}

nav ul {
    display: flex;
    gap: 35px;
}

nav li {
    list-style: none;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-second);
    letter-spacing: 0.06px;
}


nav ul li:nth-child(2) {
    border-bottom: 3px var(--color-primary) solid;
}

nav li a {
    color: var(--color-dark-second);
}

nav li a:hover {
    color: var(--color-dark-third);
    cursor: pointer;
    transition: 2s;
}

nav li a:active {
    color: var(--color-primary);
    border-bottom: 3px var(--color-primary) solid;
    transition: 2s;
}

.menu {
    display: none;
}

.burger-menu {
    position: absolute;
    visibility: hidden;
}
.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 30px;
    height: 22px;
    
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-dark-second);
}
.burger::before {
    top: 0;
    box-shadow: 0 10px 0 var(--color-dark-second);
    transition: box-shadow .4s .10s, top .4s .10s, transform .4s;
}
.burger::after {
    bottom: 0;
    transition: bottom .4s .10s, transform .4s;
}
.burger-menu:checked + .burger::before {
    top: 10px;
    transform: rotate(90deg);
    transition: box-shadow .10s, top .4s, transform .4s .10s;
}
.burger-menu:checked + .burger::after {
    bottom: 10px;
    transform: translateX(10px) rotate(90deg);
    transition: box-shadow .10s, bottom .4s, transform .4s .10s;
}

#button_items {
    background-color: var(--color-primary);
    border-radius: 100px;
    width: 207px;
    height: 52px;
}

#button_items p {
    border-radius: 100px;
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-family: Georgia;
    font-size: 17px;
    padding: 15px 45px;
}

@media (min-width: 701px) and (max-width: 950px) {
    header {
        margin: 30px;
    }

}

@media (max-width: 767.9px) {
    #nav_main {
        position: absolute;
        top: 0;
        right: -350px;
        background: var(--color-light);
        height: 100%;
        width: 320px;
        transition: 1s;
        z-index: 2;
    }

    #nav_main.active {
        right: 0;
        transition: 1s;
    }

    .navigation_background.active {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background-color: var(--color-dark);
        opacity: 0.8;
        z-index: 1;
    }

    #nav_main ul {
        flex-direction: column;
        padding: 248px 38px 0 38px;
        background: var(--color-light);
    }

    #nav_main li {
        font-size: 32px;
        letter-spacing: 0;
    }

    .menu {
        display: block;
        z-index: 3;
    }
    
    header {
        margin: 30px 20px;
    }
}


/* Pets */

#pets {
    display: flex;
    justify-content: center;
}
#pets_wrapper {
    background-color: var(--color-light);
}

#pets_content {
    display: flex;
    margin: 80px 40px 100px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#pets_content h3 {
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    row-gap: 30px;
}

.card {
    border-radius: 9px;
    width: 270px;
    height: 435px;
    background: var(--color-light-second);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.pet_name {
    margin-top: 30px;
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    color: var(--color-dark-second);
}

.button_learn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    margin: 30px 41.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--color-dark);
    background: var(--color-light-second);
}

.card:hover {
    outline: 2px solid var(--color-primary);
}

.card:hover button {
    background: var(--color-primary);
    cursor: pointer;
}

#button_area {
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button_navigation {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    background: var(--color-light-second);
    border-radius: 100px;
    align-content: center;
    text-align: center;
    color: var(--color-dark);
}

.button_navigation:disabled {
    border: 2px solid var(--color-primary-dark);
}

.button_navigation:disabled {
    color: var(--color-primary-dark);
}

.button_navigation:hover {
    background: var(--color-primary);
    cursor: pointer;
}

.button_navigation:disabled:hover {
    background: var(--color-light-second);
    cursor: default;
}

.button_navigation:active {
    background: var(--color-primary);
    cursor: pointer;
}

@media (min-width: 701px) and (max-width: 950px) {
    #scarlet, #freddie {
        display: none;
    }
    #pets_content {
        gap: 30px;
        margin: 80px 40px 75px 40px;
    }
    #button_area {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    #button_area {
        gap: 10px;
    }
}

@media (max-width: 350px) {
    #pets_content {
        margin: 42px 0 45px 0;  
        width: 100%; 
        gap: 40px;
    }

    #slider {
        flex-direction: column;
    }

    #scarlet, #freddie, #sophia, #timmy, #charly {
        display: none;
    }
    
}

/* Footer */

footer {
    display: flex;
    
}

#footer_wrapper {
    background-image: url('../../assets/images/main/start-screen-background.png');
    background: linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%);
}

#footer_content {
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin: 40px 40px 0 40px;
}

#footer_info {
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    margin-top: 14px;
    margin-bottom: 60px;
    max-width: 300px;
}

.footer_row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

footer h3 {
    color: var(--color-second);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

footer h4 {
    color: var(--color-primary);
}

footer a {
    color: var(--color-primary);
}

@media (min-width: 750px) and (max-width: 1030px) {
    footer {
        justify-content: center;
    }

    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 65px;
        margin: 20px 30px 0 30px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0 34px;
    }
    .footer_section {
        gap: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media (min-width: 350px) and (max-width: 750px) {
    footer {
        justify-content: center;
    }
    footer h3 {
        font-size: 25px;
        text-align: center;
    }
    footer h4 {
        font-size: 20px;
    }
    .footer_section {
        align-items: center;
        gap: 37px;
    }
    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        margin-top: 20px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

    #footer_image img {
        width: 260px;
    }

    #contacts {
        margin: 10px 34px;
    }
    #locations {
        margin: 10px 34px;
        align-items: flex-start;
    }

    #locations h3 {
        margin: 0 15px;
    }
}

@media (max-width: 349px) {
    footer h3 {
        font-size: 25px;
        text-align: center;
    }
    footer h4 {
        font-size: 20px;
    }
    .footer_section {
        align-items: center;
        gap: 37px;
    }
    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        margin-top: 20px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

    #footer_image img {
        width: 260px;
    }

    #contacts {
        margin: 10px 34px;
    }
    #locations {
        margin: 0 10px 0 10px;
        align-items: flex-start;
    }

    #locations h3 {
        margin: 0 15px;
    }

}