/* Global */

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #f1cdb3;
    --color-primary-dark: #cdcdcd;
    --color-primary-light: #fddcc4;
    --color-second: #fff;
    --color-dark: #292929;
    --color-dark-second: #545454;
    --color-dark-third: #4c4c4c;
    --color-dark-fourth: #b2b2b2;
    --color-light: #f6f6f6;
    --color-light-second: #fafafa;
}

@font-face {
    font-family: "Georgia";   
    src: local("Georgia"),
        url("../../assets/fonts/georgia/georgia.woff") format("woff");
  }

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/arial-regular.ttf") format("ttf");
}


h1 {
    font-family: Georgia;
    color: var(--color-primary);
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

h1 a {
    color: var(--color-primary);
}

h3 {
    font-family: Georgia;
    color: var(--color-dark-second);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-dark-second);
    letter-spacing: 0.06em;
}
h4 a {
    color: var(--color-dark-second);
}

h5 {
    font-family: Georgia;
    font-size: 15px;
    line-height: 110%;
    color: var(--color-dark-second);
    letter-spacing: 0.06em;
}

.container {
    display: flex;
    flex-direction: column;
}

section, footer {
    max-width: 1280px;
    margin: 0 auto;
}

  a {
    text-decoration: none;
}

@media (max-width: 349px) {
    h3 {
        font-size: 25px;
    }
}

/* Start Screen */

#start_screen {
    display: flex;
    flex-direction: column;
}

#start_wrapper {
    background-image: url('../../assets/images/main/start-screen-background.png');
    background: linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
}

#logo {
    display: flex;
    flex-direction: column;
}

#logo p {
    margin:0;
}

#logo_phrase {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-second);
    padding-left: 4px;
}

nav ul {
    display: flex;
    gap: 35px;
}

nav ul li:first-child {
    border-bottom: 3px var(--color-primary) solid;
    cursor: default;
}

nav li {
    list-style: none;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-primary-dark);
    letter-spacing: 0px;
}

nav li a {
    color: var(--color-primary-dark);
}

nav li a:hover {
    color: var(--color-light-second);
    cursor: pointer;
    transition: 2s;
}

nav li a:active {
    color: var(--color-light-second);
    border-bottom: 3px var(--color-primary) solid;
    transition: 2s;
}

.menu {
    display: none;
}

.burger-menu {
    position: absolute;
    visibility: hidden;
}
.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 30px;
    height: 22px;
    
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
}
.burger::before {
    top: 0;
    box-shadow: 0 10px 0 var(--color-primary);
    transition: box-shadow .4s .10s, top .4s .10s, transform .4s;
}
.burger::after {
    bottom: 0;
    transition: bottom .4s .10s, transform .4s;
}
.burger-menu:checked + .burger::before {
    top: 10px;
    transform: rotate(90deg);
    transition: box-shadow .10s, top .4s, transform .4s .10s;
}
.burger-menu:checked + .burger::after {
    bottom: 10px;
    transform: translateX(10px) rotate(90deg);
    transition: box-shadow .10s, bottom .4s, transform .4s .10s;
}

#welcome {
    display: flex;
    gap: 42px;
    margin: 60px 40px 0 40px;
}

#start_screen h2 {
    font-family: Georgia;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-second);
    
}

#welcome_text {
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

#welcome_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-primary-dark);
}


#button_items {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.06em;
    text-decoration: none;
    border: none;
    align-content: center;
    text-align: center;
}

#button_items a {
    color: var(--color-dark);
}

#button_items a:hover {
    color: var(--color-dark);
    background-color: var(--color-primary-light);
}

#button_items:hover {
    background-color: var(--color-primary-light);
}

@media (min-width: 715px) and (max-width: 1000px) {
    header {
        margin: 30px;
    }

    #welcome {
        flex-direction: column;
        gap: 100px;
        margin: 30px 100px 0 100px;
        align-items: center;
    }

    #welcome_text {
        margin: 0 54px 0 55px;
    }

    #welcome img {
        width: 569px;
        margin-left: 140px;
    }

    #button_items {
        align-self: center;
    }

}

@media (max-width: 767px) {
    #nav_main {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media (max-width: 715px) {
    header {
        margin: 30px 20px;
    }

    #welcome {
        flex-direction: column;
        gap: 105px;
        margin: 30px 10px 0 10px;
        align-items: center;
    }

    #welcome_text {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    #start_screen h2 {
        font-size: 25px;
        letter-spacing: 0.06em;
    }

    #welcome img {
        width: 260px;
        margin-left: 50px;
    }
}


/* About */

#about {
    background: var(--color-second);
    display: flex;
    justify-content: center;
}

#about_content {
    display: flex;
    flex-direction: row;
    margin: 80px 40px 100px 40px;
    justify-content: center;
    gap:120px;
    align-items: center;
    padding: 0 175px;
}

#about_image {
    width: 300px;
}

#about_text {
    display: flex;
    flex-direction: column;
    height: 380px;
    margin: 14px 0;
}

#about_text h3, #about_text p {
    margin-bottom: 25px;
}

#about_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-third);
}

@media (min-width: 701px) and (max-width: 1000px) {
    
    #about_content {
        flex-direction: column-reverse;
        gap:80px;
        padding: 0;
        margin: 80px 165px 95px 165px;
    }

    #about_text {
        margin: 0 3px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    #about_text {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 700px) {
    
    #about_content {
        flex-direction: column-reverse;
        gap: 22px;
        padding: 0;
        margin: 42px 10px 35px 10px;
    }

    #about_text {
        height: 100%;
        margin: 0;
        align-items: center;
    }
    #about_text h3 {
        margin-bottom: 22px;
        text-align: center;
    }

    #about_text p {
        margin: 0 15px 22px 15px;
        text-align: justify
    }
    #about_image img {
        width: 260px;
        margin: 0 20px 0 20px;
    }
}

/* Pets */

#pets_wrapper {
    background-color: var(--color-light);
}

#pets_content {
    display: flex;
    height: 697px;
    margin: 80px 40px 95px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pets_content h3 {
    text-align: center;
}

#slider {
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 53px;
}

#slider_body {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.button_arrow {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    background: var(--color-light);
    width: 52px;
    height: 52px;
}

.card:hover {
    outline: 2px solid var(--color-primary);
}

.card:hover button {
    background: var(--color-primary);
    cursor: pointer;
}

.card {
    border-radius: 9px;
    width: 270px;
    height: 435px;
    background: var(--color-light-second);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-family: Georgia;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--color-dark-second);
}

.pet_name {
    margin-top: 30px;
}

.button_learn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    margin: 30px 41.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--color-dark);
    background: var(--color-light-second);
}

#button_pets {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#button_pets a{
    color: var(--color-dark);
    font-family: Georgia;
    font-size: 17px;
    letter-spacing: 0.1em;
}

#button_pets a:hover {
    color: var(--color-dark);
}

#button_pets:hover {
    background-color: var(--color-primary-light);
}

@media (min-width: 715px) and (max-width: 1230px) {
    
    #woody {
        display: none;
    }

    #slider {
        gap: 12px;
    }

    #slider_body {
        gap: 40px;
    }

    #pets_content {
        margin: 80px 30px 100px 30px;
    }
}

@media (min-width:451px) and (max-width: 715px) {
    #woody {
        display: none;
    }

    #jenifer {
        display: none;
    }

    #slider {
        margin: 42px 5px;
        gap: 12px;
    }

    #slider_body {
        gap: 42px;
    }

    #pets_content {
        margin: 42px 10px;
        height: 100%;
    }

    
}

@media (min-width: 346px) and (max-width: 450px) {

    #woody {
        display: none;
    }

    #jenifer {
        display: none;
    }

    #slider {
        margin: 42px 5px;
        gap: 100px;
    }

    #slider_body {
        gap: 42px;
    }

    #pets_content {
        margin: 42px 10px;
        height: 100%;
    }

    #slider {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        order: 1;
    }
    .button_arrow {
        order: 2;
    }
}

@media (max-width: 345px) {
    
    #woody {
        display: none;
    }

    #jenifer {
        display: none;
    }

    #slider {
        margin: 42px 5px;
        gap: 0;
        row-gap: 20px;
    }

    #slider_body {
        gap: 42px;
    }

    #pets_content {
        margin: 42px 10px;
        height: 100%;
    }

    .card {
        order: 1;
    }
    .button_arrow {
        order: 2;
    }

    #slider {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #button_pets a{
        letter-spacing: 0.06em;
    }
}

/* Help */

#help {
    display: flex;
    flex-direction: column;
}

#help h4 {
    letter-spacing: 0.06em;
}

#help_content {
    margin: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#help_content h3 {
    text-align: center;
}

#help_list {
    margin: 60px 80px 0 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 120px;
    row-gap: 55px;
    justify-content: center;
}

.help_card {
    height: 113px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help_image {
    width: 60px;
    height: 60px;
}

@media (min-width: 768px) and (max-width: 900px) {
    #help_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        row-gap: 55px;
        margin: 0;
    }

    #help_content {
        margin: 80px 69px 100px 69px;
        gap: 60px;
    }

    .help_card {
        height: 113px;
        width: 170px;
    }
}


@media (max-width: 767px) {
    #help_list {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-gap: 30px;
        row-gap: 30px;
        margin: 0;
    }
    #help_content {
        margin: 42px 10px;
        gap: 42px;
    }

    .help_card {
        height: 87px;
        width: 130px;
        gap: 20px;
    }
    #help h4 {
        letter-spacing: 0.06em;
        font-family: Georgia;
        font-size: 15px;
        line-height: 110%;
    }
    .help_image img {
        width: 50px;
        height: 50px;
    }
}

/* Donation */

#donation {
    display: flex;
}

#donation_wrapper {
    background: var(--color-light);
}

#donation_content {
    margin: 80px auto 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}

#donation_image {
    margin: 10px 0;

}

#donation_info {
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
}

#card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: var(--color-primary);
    border-radius: 9px;
    padding: 10px 15px;
    align-items: center;
    width: fit-content;
}

#donation_info p {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-fourth);
    width: 380px;
}

@media (min-width: 530px) and (max-width: 1000px) {
    
    #donation_content {
        display: flex;
        flex-direction: column-reverse;
        margin: 80px auto 95px auto;
        gap: 60px;
        align-items: center;
    }
    #donation_image {
        margin: 0;
    }
}

@media (max-width: 529px) {
    
    #donation_content {
        display: flex;
        flex-direction: column-reverse;
        margin: 42px 10px 36px 10px;
        gap: 42px;
    }

    #donation_image {
        margin: 0;
    }
    #donation_image img {
        margin: 0;
        width: 260px;
    }

    #card h4 {
        font-size: 15px;
    }
    #donation_info {
        gap: 21px;
        height: 100%;
        text-align: justify;
        align-items: center;
        padding: 0 10px;
    }
    #donation_info h5 {
        font-size: 15px;
        letter-spacing: 0;
    }

    #donation_info h3 {
        text-align: center;
    }

    #donation_info p {
        width: 100%;
    }
}

/* Footer */

footer {
    display: flex;
}

#footer_wrapper {
    background-image: url('../../assets/images/main/start-screen-background.png');
    background: linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%);
}

#footer_content {
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin: 37px 40px 0 40px;
}

#footer_info {
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    margin-top: 14px;
    margin-bottom: 60px;
    max-width: 300px;
}

.footer_row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

footer h3 {
    color: var(--color-second);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

footer h4 {
    color: var(--color-primary);
    
}

footer a {
    color: var(--color-primary);
}

@media (min-width: 750px) and (max-width: 1030px) {
    footer {
        justify-content: center;
    }

    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 65px;
        margin: 20px 30px 0 30px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0 34px;
    }
    .footer_section {
        gap: 30px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media (min-width: 350px) and (max-width: 750px) {
    footer {
        justify-content: center;
    }
    footer h3 {
        font-size: 25px;
        text-align: center;
    }
    footer h4 {
        font-size: 20px;
    }
    .footer_section {
        align-items: center;
        gap: 37px;
    }
    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        margin-top: 20px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

    #footer_image img {
        width: 260px;
    }

    #contacts {
        margin: 10px 34px;
    }
    #locations {
        align-items: flex-start;
        margin: 10px 34px;
    }

    #locations h3 {
        margin: 0 15px;
    }
}

@media (max-width: 350px) {
    footer h3 {
        font-size: 25px;
        text-align: center;
    }
    footer h4 {
        font-size: 20px;
    }
    .footer_section {
        align-items: center;
        gap: 37px;
    }
    #footer_content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        margin-top: 20px;
        align-items: center;
    }
    #footer_info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

    #footer_image img {
        width: 260px;
    }

    #contacts {
        margin: 10px 34px;
    }
    #locations {
        margin: 0 10px 0 10px;
        align-items: flex-start;
    }

    #locations h3 {
        margin: 0 15px;
    }

}