/* Global */

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.06em;
}

:root {
    --color-primary: #f1cdb3;
    --color-primary-dark: #cdcdcd;
    --color-second: #fff;
    --color-dark: #292929;
    --color-dark-second: #545454;
    --color-dark-third: #4c4c4c;
    --color-light: #f6f6f6;
    --color-light-second: #fafafa;
}

h3 {
    font-family: Georgia;
    color: var(--color-dark-second);
    font-size: 35px;
    line-height: 130%;
}

.container {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("ttf");
  }

/* Start Screen */

#start_screen {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/main/start-screen-background.png');
    background: linear-gradient(90deg, rgba(91,72,58,1) 0%, rgba(38,36,37,1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
}

#logo {
    display: flex;
    flex-direction: column;
}

#logo p {
    margin:0;
}

#start_screen h1 {
    font-family: Georgia;
    color: var(--color-primary);
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 110%;
}

#logo_phrase {
    font-family: Arial;
    color: var(--color-second);
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 35px;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-primary-dark);
}

#welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 40px 0 40px;
    height: 728px;
}

#start_screen h2 {
    font-family: Georgia;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-second);
    
}

#welcome_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-primary-dark);
}

#welcome_text p, h2 {
    margin-bottom: 42px;
}

nav ul li:first-child {
    border-bottom: 3px var(--color-primary) solid;
}

#button_items {
    background-color: var(--color-primary);
    border-radius: 100px;
    width: 207px;
    height: 52px;
}

#button_items p {
    border-radius: 100px;
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-family: Georgia;
    font-size: 17px;
    padding: 15px 45px;
}

/* About */

#about_content {
    display: flex;
    height: 408px;
    margin: 80px 40px 100px 40px;
    justify-content: space-around;
}

#about_image {
    width: 300px;
    margin-left: 175px;
    margin-right: 60px;
}

#about_text {
    display: flex;
    flex-direction: column;
    min-width: 430px;
    margin: 14px 175px 14px 60px;
}

#about_text h3, #about_text p {
    margin-bottom: 25px;
}

#about_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-third);
}

/* Pets */

#pets {
    background-color: var(--color-light);
}

#pets_content {
    display: flex;
    height: 697px;
    margin: 80px 40px 100px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pets_content h3 {
    text-align: center;
}

#slider {
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#arrow {
    margin-right: 8px;
}

#arrow2 {
    margin-left: 8px;
}

.card {
    border-radius: 9px;
    width: 270px;
    height: 435px;
    background: var(--color-light-second);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 45px;
}

.card p {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    color: var(--color-dark-second);
}

.pet_name {
    margin-top: 30px;
}

#button_learn {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    margin: 30px 41.5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#button_learn p {
    font-family: Georgia;
    font-size: 17px;
    text-align: center;
    color: var(--color-dark);
}

#button_pets {
    border-radius: 100px;
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_pets {
    color: var(--color-dark);font-family: Georgia;
    font-size: 17px;
}